$footer-background_color: #0f0f0f;
$footer_color: #ababab;

footer {
  .hr-row {
    justify-content: center;
  }

  &.content-info {
    background: $footer-background_color;
    color: $footer_color;
    padding: 8rem 4rem;

    @media (max-width: 480px) {
      padding: 2rem;
    }

    .menu-footer-one-container {
      ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .menu-item {
          padding: 0 1rem;
          border-right: 1px solid $footer_color;

          &:last-child {
            border-right: none;
          }

          a {
            padding: 0;
            font-weight: 400;
            text-transform: uppercase;
            color: $footer_color;

            &:hover {
              text-decoration: none;
              color: $white;
            }
          }
        }
      }
    }

    .navigation__list__footer {
      @extend .medium;

      flex-direction: row;
      justify-content: center;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .navigation__item__footer {
        // display: block;
        padding: 0 1rem;
        text-transform: uppercase;

        .nav-link {
          color: $color__text-main;
          text-align: center;

          &:link,
          &:visited {
            color: $color__text-main;
          }

          &:hover,
          &:active {
            color: $color__link--active;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.footer-menu-about {
  padding-top: 4.5%;

  .menu-footer-about-container {
    .footer-cta {
      @extend .medium;

      font-size: 1.25rem;
      letter-spacing: 2.25px;
      text-transform: uppercase;
    }

    .footer-nav-menu-about {
      margin: 0 auto;
      max-height: 150px;

      @media (max-width: 480px) {
        width: 100%;
        max-height: none;
      }

      @extend .flex-column;
      @extend .justify-content-around;
      @extend .flex-wrap;

      &.navigation__list__footer {
        font-weight: normal;
        letter-spacing: 2.25px;
        line-height: 2rem;
      }
    }
  }
}
