.single-city {
  .c-bg-image {
    // background: linear-gradient(rgba(31, 33, 38, 0.4), rgba(31, 33, 38, 0.4)), url(../images/20150802_002743.jpg);
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
  }

  .body-wrap .wrap.container article header {
    padding: 0;
  }
}
