.two-line-header {
  @include media-breakpoint-down(md) {
    h2 {
      font-size: 1rem;

      &.palmaton {
        font-size: 2rem;
        line-height: 0;
      }
    }
  }
}

.home {
  section {
    position: relative;
  }

  .full-width {
    margin: 0 -15px;
  }

  .bg-img {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: linear-gradient(rgba(31, 33, 38, 0.1), rgba(31, 33, 38, 0.4));
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header {
      color: $white;
      z-index: 15;
      text-transform: uppercase;
      text-align: center;

      h2 {
        font-size: 1rem;
        text-transform: capitalize;

        @include media-breakpoint-up(md) {
          font-size: 3rem;
        }

        &.palmaton {
          font-size: 2rem;
          line-height: 1rem;

          @include media-breakpoint-up(md) {
            font-size: 6rem;
            line-height: 2rem;
          }
        }
      }
    }
  }

  .page-header {
    padding-top: 35px;
    margin-bottom: 35px;

    h1 {
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      color: $white;
    }
  }

  .main {
    position: relative;
    z-index: 10;
  }
}
