.home {
  section {
    position: relative;
  }

  .c-bg-image {
    background: linear-gradient(rgba(31, 33, 38, 0.4), rgba(31, 33, 38, 0.4)), url(../images/20150802_002743.jpg);
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
  }

  .page-header {
    padding-top: 35px;
    margin-bottom: 35px;

    h1 {
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      color: $white;
    }
  }

  .main {
    position: relative;
    z-index: 10;

    h2 {
      margin-top: 5rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      text-align: center;
      text-transform: uppercase;
      color: $white;
    }

    .container {
      color: $white;
    }
  }
}

