.artist-column {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 3rem;

  .summary {
    flex-basis: 50%;
    overflow: hidden;
    padding: 10px;
    line-height: 1.25rem;

    iframe {
      display: none;
    }
  }

  .artist-child {
    .fa::before {
      vertical-align: middle;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 200px;
    object-fit: cover;
  }

  .link {
    padding: 0 10px;
  }

  .title {
    width: 100%;
    margin: 1em 0 0;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
  }

  .locations {
    flex-basis: 40%;
    display: flex;

    ul {
      padding: 0;
      margin: 25px auto;

      @include media-breakpoint-up(md) {
        margin: 25px 0 25px 15px;
      }
    }
  }
}
