.artist-column {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 3rem;

  img {
    display: block;
    margin: 0 auto;
  }

  .title {
    margin: 1em 0;
    font-size: $font-size-lg;
    text-align: center;
  }

  .locations {
    display: flex;

    ul {
      padding: 0;
      margin: 25px auto;

      @include media-breakpoint-up(md) {
        margin: 25px 0 25px 15px;
      }
    }
  }

  a {
    color: $white;
    font-weight: 900;

    &:hover {
      color: transparentize($color: #fff, $amount: 0.4);
    }
  }
}
