.btn {
  border-radius: 0;
  padding: 5px 30px;
  margin: 0 25px;
  font-weight: bold;
}

.temp-line {
  line-height: 2rem;
}

.btn-primary {
  background: $white;
  color: $black;

  &:hover {
    background: invert($color: $white);
    color: invert($color: $black);
  }

  &.inverse {
    background: $black;
    color: $white;
    border: $white 1px solid;

    &:hover {
      background: invert($color: $white);
      color: invert($color: $black);
    }
  }
}

.btn-heavy {
  padding: 5px 25px;
  text-transform: uppercase;
  font-weight: 700;
  background: transparent;
}
