$card__color:          $black;
$card__background:     $white;
$card__border__color:  $white;

.card {
  position: relative;
  height: 430px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  justify-content: start;
  transition: 0.2s;
  box-shadow: 0.25rem 0.25rem 1rem rgba(43, 43, 43, 0.2);

  &:hover {
    transform: translateY(-10px);
  }

  &:focus-within {
    box-shadow: 0 0 0 0.25rem;
  }

  &:focus-within a:focus {
    text-decoration: none;
  }

  .card__image {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    transition: all 0.17s;
    margin: 0;

    @extend .image--filter_four_layer-blend;
  }

  .card__filter {
    display: none;
  }

  .card__category-line {
    display: block;
    border-right: $card__border__color solid 2px;
    position: absolute;
    height: 127px;
    top: 3rem;
    left: 10%;
  }

  .card__body {
    background: $card__background;
    color: $card__color;
    width: 100%;
    margin: 0;
    padding: 1.25rem;
    height: 265px;

    .card__copy {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:last-child {
        margin-bottom: 1rem;
      }

      .card__title {
        @extend .medium;

        font-size: 1rem;
        letter-spacing: 2px;
        line-height: 1.4375rem;
        text-transform: uppercase;
        font-weight: 700;
      }

      .card__text {
        font-size: 0.75rem;
        line-height: 1rem;

        iframe {
          display: none;
        }
      }

      .card_reccomendations {
        margin-bottom: 1rem;
      }

      .card__address,
      .card__link,
      .card_reccomendations__title {
        font-size: 0.75rem;
      }

      .card_reccomendations__title {
        a {
          &::after {
            content: ",";
          }
        }

        &:last-child {
          a {
            &::after {
              content: "";
            }
          }
        }
      }

      .card__link {
        text-transform: uppercase;
      }
    }
  }

  .card__category-block {
    position: absolute;
    top: 11%;
    left: 0.625rem;
    height: 40px;
    display: flex;
    word-break: break-all;

    // .card__category-block__category-image {
    // }
    .card__category-block__category-details {
      display: inline-block;
      color: $white;

      .card__category-block__category-type {
        @extend .medium;

        font-size: 0.625rem;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      .card__category-block__category-info {
        @extend .medium;

        font-size: 0.75rem;
        line-height: 0.85rem;
        text-transform: uppercase;
      }
    }
  }

  &.card__1-1 {
    .card__category-line {
      left: 2.5rem;
    }

    .card__image {
      height: 175px;
    }
  }

  &.card__3-1 {
    .card__image {
      width: 100%;
    }

    .card__category-line {
      left: 2.5rem;
    }
  }

  &.card__2-1 {
    min-height: 430px;

    .card__image {
      width: 100%;
    }

    .card__category-line {
      left: 2.5rem;
    }

    .card__body {
      margin-top: 40%;
      min-height: 205px;
      height: auto;
    }

    &.card__2-1-travel {
      height: auto;

      .card__image {
        height: 205px;
      }

      .card__body {
        margin-top: 0%;
        min-height: 205px;
        height: auto;
        position: relative;
        bottom: auto;
        right: auto;
      }

      .card__category-block {
        top: 3rem;
      }
    }
  }
}
